<clr-datagrid>
    <clr-dg-column>Transaction Hash</clr-dg-column>
    <clr-dg-column>Age</clr-dg-column>
    <clr-dg-column>Amount(BTC)</clr-dg-column>
    <clr-dg-column>Amount(USD)</clr-dg-column>

    <clr-dg-row *ngFor="let transacion of transactions">
        <clr-dg-cell>{{transacion.transactionId}}</clr-dg-cell>

        <clr-dg-cell>{{transacion.age}}</clr-dg-cell>

        <clr-dg-cell>{{transacion.amountBtc}}</clr-dg-cell>

        <clr-dg-cell>{{transacion.amountUsd}}</clr-dg-cell>

    </clr-dg-row>
</clr-datagrid>