<app-kirana-chain-header></app-kirana-chain-header>
<router-outlet></router-outlet>
<section id="kiranaChain-footer">
    <div class="clr-row text-center">
        <div class=" clr-col-12 copyright">
            <span>cipyright &copy; 2019. Kirana Chain Pvt Ltd.</span>
        </div>
        <div class="clr-col-12 socialIcons">
            <a href="#"><img src="../../../../assets/facebook.png" alt="facebook"></a>
            <a href="#"><img src="../../../../assets/linkedin.svg" alt="facebook"></a>
            <a href="#"><img src="../../../../assets/twittericon.svg" alt="facebook"></a>
        </div>

    </div>
</section>