#kiranaChain-footer {
    padding: 1rem 0rem;
    background: rgb(240, 242, 247);
    .socialIcons {
        margin-top: 1rem;
        img {
            height: 2rem;
            width: 2rem;
            margin-left: 40px;
        }
    }
}