<!-- Header component  -->
<div class="clr-row">

    <header class="header-6">
        <div class="clr-col-2">
            <div class="branding">
                <a href="" class="nav-link">
                    <clr-icon shape="vm-bug"></clr-icon>
                    <span class="title">Kirana Chain</span>
                </a>
            </div>
        </div>
        <div class="clr-col-6">
            <div class="clr-row">
                <div class="clr-col-4">
                    <div class="header-nav">
                        <clr-dropdown>
                            <span clrDropdownTrigger>
                        Dropdown
                        <clr-icon shape="caret down"></clr-icon>
                    </span>
                            <clr-dropdown-menu clrPosition="bottom-center" *clrIfOpen>
                                <button type="button" clrDropdownItem>Wallet</button>
                                <button type="button" clrDropdownItem>blockchain markets</button>
                                <button type="button" clrDropdownItem>Lock box</button>
                                <button type="button" clrDropdownItem>Developers</button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                        <clr-dropdown>
                            <span clrDropdownTrigger>
                        Data
                        <clr-icon shape="caret down"></clr-icon>
                    </span>
                            <clr-dropdown-menu clrPosition="bottom-center" *clrIfOpen>
                                <button type="button" clrDropdownItem>Prices</button>
                                <button type="button" clrDropdownItem>Charts</button>
                                <button type="button" clrDropdownItem>Bitcoin Explorer</button>
                                <button type="button" clrDropdownItem>Etherium explorer</button>
                                <button type="button" clrDropdownItem>Bitcoin Cash explorer</button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                    </div>
                </div>
                <div class="clr-col-4">
                    <form class="search">
                        <label for="search_input">
                <input id="search_input" type="text" placeholder="Search for keywords...">
            </label>
                    </form>
                </div>
            </div>

        </div>
        <div class="clr-col-2">
            <div class="header-actions">
                <button class="btn btn-primary" (click)="isLoginSignInModalOpen = true;"> Login</button>
                <button class="btn btn-primary" (click)="isLoginSignupModalOpen = true">Signup</button>
            </div>
        </div>

    </header>
</div>
<app-kirana-chain-login *ngIf="isLoginSignInModalOpen" [(isSignInModalOpen)]="isLoginSignInModalOpen" (signInModalStatus)="closeSingInModal($event)"></app-kirana-chain-login>
<app-kirana-chain-signup *ngIf="isLoginSignupModalOpen" [(isSignupModalOpen)]="isLoginSignupModalOpen" (signupModalStatus)="closeSignupModal($event)"></app-kirana-chain-signup>